h4 {
    color: red;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    font-family: Leelawadee;
    min-height: 100vh;
    /*altezza minima*/
}

nav {
    flex-basis: 17vw;
    padding: 20px;
    background-color: rgba(91, 110, 155, 0.692);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.partOne {
    margin-left: 20px;
    text-align: center;
    font-size: 20px;
}

table {
    display: flex;
    justify-content: center;
    padding: 20px;
}

td {
    border-bottom: 3px solid rgba(91, 110, 155, 0.692);
    padding: 15px;
}