{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BiblioBase</title>
    <link rel="stylesheet" href="{% static './css/base_style.css' %}">
    <link rel="stylesheet" href="{% static './css/newBook-style.css' %}">
    <link rel="stylesheet" href="{% static './css/ins_style.css' %}">
    <link rel="stylesheet" href="{% static './css/prnt.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}">
</head>

<header>

    <div class="nav-box">
        <div class="logo">
            <h4><a href="{% url 'base' %}">BiblioBase</a></h4>
        </div>
        <div class="search-bar">
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="Campo" list="BookList" placeholder="Cerca..." />
                <datalist id="BookList">
                        {% for results in context_list %}
                        <option>{{results.Titolo}}</option>
                        <option>{{results.Autore}}</option>
                        <option>{{results.Genere}}</option>
                        {% endfor %}
                </datalist>
                <input type="submit" name="Ricerca" value=" " class="lente">
            </form>
        </div>
        <div class="links">
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="nav-links">
        <div class="under-links">
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'register' %}">Registrazione</a></li>
                {% endif %} {% if user.is_authenticated %}
                <li><a href="{% url 'prnt' %}">Prenotazione</a></li>
                {% endif %} {% if user.is_authenticated %}
                <li><a href="{% url 'delS' %}">Elimina Libro</a></li>
                {% endif %} {% if user.is_authenticated %}
                <li><a href="{% url 'ritardi' %}">Ritardi</a></li>
                {% endif %} {% if user.is_authenticated %}
                <li><a href="{% url 'nuovo_libro' %}">Nuovo Libro</a></li>
                {% endif %}
                <li><a href="https://youtu.be/pCIc0FKD3dM?t=62" target="blank">Contatti</a></li>
            </ul>
        </div>
    </div>
    </nav>
</header>

{% block content %} {% endblock content %}


</body>

</html>