{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static './css/base_style.css' %}">
    <link rel="stylesheet" href="{% static './css/newBook-style.css' %}">
</head>

<body>
    <nav>
        <h2 style="color:red;">BIBLIOBASE</h2>
        <div class="links">
            <br><br>
            <a href="{% url 'base' %}">HOME</a>
            <br><br>
            <a href="{% url 'nuovo_libro' %}">NUOVO LIBRO</a>
            <br><br>
        </div>
        <div class="cp">All Right Reserverd</div>
    </nav>
    <div class="HolyGrail-body">

        <div class="layout">
            {% block content %} {% for record in context_list %}
            <div class="box">
                <div class="info">
                    <h2>{{record.Titolo}}</h2>
                    <h4>{{record.Autore}}</h4>
                    <h4>{{record.Genere}}</h4>
                </div>
                <div class="child">
                    <a onclick="return confirm('Sei sicuro?')" , href="{% url 'cancella' record.CodLibro %}">Elimina</a>
                    <a href="{% url 'modifica_libro' record.CodLibro %}">Modifica</a>
                    <a href="{% url 'detail' record.CodLibro %}">Dettaglio</a>
                </div>
            </div>
            {% endfor %} {% endblock content %}
        </div>

    </div>
</body>

</html>