<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static './css/index-style.css' %}">
    <title>Landing Page</title>
</head>
<body>
    <div class="all-box">
        <div class="ad"></div>
        <div class="sidenav">
            <div class="logo">
                <p><a href="{% url 'base' %}">BiblioBase</a></p>
            </div>
            <div class="links">
                <ul>
                    <li><a href="{% url 'nuovo_libro' %}">Nuovo Libro</a></li>
                    <li><a href="#">Seriali</a></li>
                    <li><a href="#">Non Seriali</a></li>
                </ul>
            </div>
            <div class="info">
                <ul>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Contatti</a></li>
                </ul>
            </div>
        </div>
        <div class="contenuto">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>