{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/ins_style.css' %}">
    <title>Detail</title>
</head>

<body>
    <nav>
        <h2 style="color:red;">BIBLIOBASE</h2>
        <div class="links">
            <br><br>
            <a href="{% url 'base' %}">HOME</a>
            <br><br>
            <a href="{% url 'nuovo_libro' %}">NUOVO LIBRO</a>
            <br><br>
        </div>
        <div class="cp">All Right Reserverd</div>
    </nav>
    <div class="HolyGrail-body">
        {% block content %}
        <table class="partOne">
            <!--Table con i dati del libro-->
            <tr>
                <!-- Info autore -->
                <td><b>Nome Autore:</b> {{context.NomeAu}}</td>
                <td><b>Cognome Autore:</b> {{context.CognomeAu}}</td>
                <td><b>Nazione Autore:</b> {{context.NazioneAu}}</td>
            </tr>
            <tr>
                <!-- Postfazione -->
                {% if context.NomePost is not null %}
                <td><b>Nome Autore Postfazione: </b>{{context.NomePost}}</td>
                {% endif %} {% if context.CognomePost is not null %}
                <td><b>Cognome Autore Postfazione: </b>{{context.CognomePost}}</td>
                {% endif %} {% if context.NazionePost is not null %}
                <td><b>Nazione Autore Postfazione: </b>{{context.NazionePost}}</td>
                {% endif %}
            </tr>
            <tr>
                <!-- Prefazione -->
                {% if context.NomePre is not null %}
                <td><b>Nome Autore Prefazione: </b>{{context.NomePre}}</td>
                {% endif %} {% if context.CognomePre is not null %}
                <td><b>Cognome Autore Prefazione: </b>{{context.CognomePre}}</td>
                {% endif %} {% if context.NazionePre is not null %}
                <td><b>Nazione Autore Prefazione: </b>{{context.NazionePre}}</td>
                {% endif %}
            </tr>
            <!-- Info Libro -->
            <tr>
                <td><b>Titolo Originale:</b> {{context.TitoloOrig}}</td>
                <td><b>Titolo: </b>{{context.Titolo}}</td>
                {% if context.Sottotitolo is not null %}
                <td><b>Sottotitolo: </b>{{context.Sottotitolo}}</td>
                {% endif %}
            </tr>
            <tr>
                <td><b>Genere:</b> {{context.Genere}}</td>
                <td><b>Straniero:</b> {{context.Straniero}}</td>
                {% if ide is not null %}
                <td> {{ide}}</td>
                {% endif %}
            </tr>
            <tr>
                <td><b>Numero Pubblicazione: </b>{{context.NumPub}}</td>
                <td><b>edizione: </b>{{context.Edizione}}</td>
                <td><b>Anno Edizione: </b>{{context.AnnoEd}}</td>
            </tr>
            <tr>
                <td><b>Copertina Rigida:</b> {{context.CopertinaRigida}}</td>
                <td><b>Illustrazioni:</b> {{context.Illustrazioni}}</td>
                <td><b>Curatore:</b> {{context.Curatore}}</td>
            </tr>
            <tr>
                <td><b>Numero di Pagine: </b>{{context.NumPagine}}</td>
                {% if context.NomeCo is not null %}
                <td><b>Nome Collana: </b>{{context.NomeCo}}</td>
                {% endif %} {% if context.nRistampa is not null %}
                <td><b>Numero di Ristampa: </b>{{context.nRistampa}}</td>
                {% endif %}
            </tr>
            <tr>
                <td><b>Ristampa:</b> {{context.Ristampa}}</td>
            </tr>
            <tr>
                <td><b>Casa Editrice: </b>{{context.NomeCa}}</td>
                <td><b>Sede Casa Editrice: </b>{{context.Sede}}</td>
                <td><b>ISBN/ISSN: </b>{{context.ISBN_ISSN}}</td>
            </tr>
            <tr>
                <!--Info traduttore-->
                {% if context.NomeTr is not null %}
                <td><b>Nome Traduttore: </b>{{context.NomeTr}}</td>
                {% endif %} {% if context.CognomeTr is not null %}
                <td><b>Cognome Traduttore</b>{{context.CognomeTr}}</td>
                {% endif %} {% if context.NazioneTr is not null %}
                <td><b>Nazione Traduttore: </b>{{context.NazioneTr}}</td>
                {% endif %}
            </tr>
            <tr>
                <!--Info curatore-->
                {% if context.NomeCu is not null %}
                <td><b>Nome Curatore: </b>{{context.NomeCu}}</td>
                {% endif %} {% if context.CognomeCu is not null %}
                <td><b>Cognome Curatore: </b>{{context.CognomeCu}}</td>
                {% endif %} {% if context.NazioneCu is not null %}
                <td><b>Nazione Curatore: </b>{{context.NazioneCu}}</td>
                {% endif %}
            </tr>
        </table>
        {% endblock content %}
    </div>

</body>

</html>