{% extends 'base.html' %} 

{% load static %}

{% block content %}

<div class="contenuto">
    {% for record in context_list %}
    <div class="view-detail">
        <img src="http://covers.openlibrary.org/b/isbn/{{record.ISBN_ISSN}}-M.jpg">
        <div class="buttons">
            <a href="{% url 'detail' record.CodLibro %}"><button type="submit">Dettaglio</button></a>
            <a href="{% url 'cancella' record.CodLibro %}"><button type="submit" style="background: #c22509;">Cancella</button></a>
            <a href="{% url 'modifica_libro' record.CodLibro %}"><button type="submit">Modifica</button></a>
        </div>
        <div class="info-detail">
            <ul>
                <li style="font-weight: 500; font-size: 20px;">{{record.Titolo}}</li>
                <li>{{record.Autore}}</li>
                <li style="font-style: italic; font-size: 15px;">{{record.Genere}}</li>
            </ul>
        </div>
        
    </div>
    {% endfor %}
</div>

{% endblock content %}