{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nuovo Libro</title>
    <!--<link rel="stylesheet" href="styles.css">-->
    <link rel="stylesheet" href="{% static './css/base_style.css' %}">
    <link rel="stylesheet" href="{% static './css/ins_style.css' %}">
</head>

<body>
    <nav>
        <h2 style="color:red;">BIBLIOBASE</h2>
        <div class="links">
            <br><br>
            <a href="{% url 'base' %}">HOME</a>
            <br><br>
            <a href="xxx">ABOUT</a>
            <br><br>
            <a href="{% url 'nuovo_libro' %}">NUOVO LIBRO</a>
            <br><br>
        </div>
        <div class="cp">All Right Reserverd</div>
    </nav>
    {% block content %}

    <main class="ins-box">
        <h1>Inserisci Libro</h1>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <!-- Info autore -->
            <p> {{form.NomeAu}}</p>
            <p> {{form.CognomeAu}}</p>
            <p> {{form.NazioneAu}}</p>

            <!-- Postfazione -->
            <p> {{form.NomePost}}</p>
            <p> {{form.CognomePost}}</p>
            <p> {{form.NazionePost}}</p>

            <!-- Prefazione -->
            <p> {{form.NomePre}}</p>
            <p> {{form.CognomePre}}</p>
            <p> {{form.NazionePre}}</p>

            <!-- Info Libro -->
            <p> {{form.TitoloOrig}}</p>
            <p> {{form.Titolo}}</p>
            <p> {{form.Sottotitolo}}</p>
            <p> {{form.ISBN_ISSN}}</p>
            <p> Genere: {{form.Genere}}</p>
            <p> Straniero: {{form.Straniero}}</p>
            <p> Seriale: {{form.IsSerial}}</p>

            <p> {{form.NumPub}}</p>
            <p> Copertina Rigida: {{form.CopertinaRigida}}</p>
            <p> Illustrazioni: {{form.Illustrazioni}}</p>
            <p> {{form.Edizione}}</p>
            <p> {{form.nAnnoEd}}</p>
            <p>Curatore: {{form.Curatore}}</p>
            <p> {{form.NumPagine}}</p>
            <p> {{form.NomeCo}}</p>
            <p> Ristampa: {{form.Ristampa}}</p>
            <p> {{form.nRistampa}}</p>


            <p> {{form.NomeCa}}</p>
            <p> {{form.SedeCa}}</p>

            <p> {{form.NomeTr}}</p>
            <p> {{form.CognomeTr}}</p>
            <p> {{form.NazioneTr}}</p>

            <p> {{form.NomeCu}}</p>
            <p> {{form.CognomeCu}}</p>
            <p> {{form.NazioneCu}}</p>

            <input type="submit" value="Inserisci Libro" class="ingresso" onclick="Funzione()">
        </form>
    </main>
</body>
<script>
    function Funzione() {
        alert("Inserimento Effetuato!");
    }
</script>
{% endblock content %}

</html>