{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}

<div class="add-box">
    <h1>Modifica</h1>
    <form method="post" autocomplete="off" class="addForm-box">

        {% csrf_token %}

        <div class="addBoxes">

            <!-- Info autore -->
            {{form.NomeAu}}
            {{form.CognomeAu}}
            {{form.NazioneAu}}
        
            <!-- Postfazione -->
            {{form.NomePost}}
            {{form.CognomePost}}
            {{form.NazionePost}}
        
        
            <!-- Prefazione -->
            {{form.NomePre}}
            {{form.CognomePre}}
            {{form.NazionePre}}
        
            <!-- Info Libro -->
            {{form.TitoloOrig}}
            {{form.Titolo}}
            {{form.Sottotitolo}}
        
            {{form.NumPub}}
            {{form.Edizione}}
            {{form.AnnoEd}}
        
        
            {{form.NumPagine}}
            {{form.NomeCo}}
            {{form.nRistampa}}
        
        
            {{form.NomeCa}}
            {{form.SedeCa}}
            {{form.ISBN_ISSN}}
        
        
            {{form.NomeTr}}
            {{form.CognomeTr}}
            {{form.NazioneTr}}
        
        
            {{form.NomeCu}}
            {{form.CognomeCu}}
            {{form.NazioneCu}}
        
            {{form.QLibri}}

        </div>

        <div class="selection">
            Copertina Rigida: {{form.CopertinaRigida}}
            Illustrazioni: {{form.Illustrazioni}}
            Curatore: {{form.Curatore}}
            Ristampa: {{form.Ristampa}}
            Genere: {{form.Genere}}
            Straniero: {{form.Straniero}}
            Seriale: {{form.IsSerial}}
        </div>

        <input type="submit" value="Modifica" class="insBtn">
    </form>
</div>
{% endif %} {% endblock content %}

