{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}

<div class="add-box">
    <h1>Modifica</h1>
    <form method="post" autocomplete="off" class="addForm-box">

        {% csrf_token %}

        <table class="tabella">
            <tr>
                <!-- Info autore -->
                <td><span title="Nome Autore">{{form.NomeAu}}</span></td>
                <td><span title="Cognome Autore">{{form.CognomeAu}}</span></td>
                <td><span title="Nazione Autore">{{form.NazioneAu}}</span></td>
            </tr>
            <tr>
                <!-- Postfazione -->
                <td><span title="Nome Autore Postfazione">{{form.NomePost}}</span></td>
                <td><span title="Cognome Autore Postfazione">{{form.CognomePost}}</span></td>
                <td><span title="Nazione Autore Postfazione">{{form.NazionePost}}</span></td>
            </tr>
            <tr>
                <!-- Prefazione -->
                <td><span title="Nome Autore Prefazione">{{form.NomePre}}</span></td>
                <td><span title="Cognome Autore Prefazione">{{form.CognomePre}}</span></td>
                <td><span title="Nazione Autore Prefazione">{{form.NazionePre}}</span></td>
            </tr>
            <!-- Info Libro -->
            <tr>
                <td><span title="Titolo Originale">{{form.TitoloOrig}}</span></td>
                <td><span title="Titolo">{{form.Titolo}}</span></td>
                <td><span title="Sottotitolo">{{form.Sottotitolo}}</span></td>
            </tr>
            <tr>
                <td><span title="ISBN/ISSN">{{form.ISBN_ISSN}}</span></td>
            </tr>
            <tr>
                <td><span title="Genere">Genere: {{form.Genere}}</span></td>
                <td><span title="Straniero">Straniero: {{form.Straniero}}</span></td>
                <td><span title="Seriale">Seriale: {{form.IsSerial}}</span></td>
            </tr>
            <tr>
                <td><span title="Numero Pubblicazione">{{form.NumPub}}</span></td>
                <td><span title="Edizione">{{form.Edizione}}</span></td>
                <td><span title="Anno Edizione">{{form.AnnoEd}}</span></td>
            </tr>
            <tr>
                <td><span title="Copertina Rigida">Copertina Rigida: {{form.CopertinaRigida}}</span></td>
                <td><span title="Illustrazioni">Illustrazioni: {{form.Illustrazioni}}</span></td>
                <td><span title="Curatore">Curatore: {{form.Curatore}}</span></td>
            </tr>
            <tr>
                <td><span title="Numero di Pagine">{{form.NumPagine}}</span></td>
                <td><span title="Nome Collana">{{form.NomeCo}}</span></td>
                <td><span title="Ristampa">{{form.nRistampa}}</span></td>
            </tr>
            <tr>
                <td><span title="Ristampa">Ristampa: {{form.Ristampa}}</span></td>
            </tr>
            <tr>
                <td><span title="Nome Casa Editrice">{{form.NomeCa}}</span></td>
                <td><span title="Sede casa Editrice">{{form.SedeCa}}</span></td>
                <td>{{form.QLibri}}</td>
            </tr>
            <tr>
                <!--Info traduttore-->
                <td><span title="Nome traduttore">{{form.NomeTr}}</span></td>
                <td><span title="Cognome traduttore">{{form.CognomeTr}}</span></td>
                <td><span title="Nazione traduttore">{{form.NazioneTr}}</span></td>
            </tr>
            <tr>
                <!--Info curatore-->
                <td><span title="Nome Critico">{{form.NomeCu}}</span></td>
                <td><span title="Cognome Critico">{{form.CognomeCu}}</span></td>
                <td><span title="Nazione Critico">{{form.NazioneCu}}</span></td>
            </tr>
        </table>

        <input type="submit" value="Modifica" class="insBtn">
    </form>
</div>
{% endif %} {% endblock content %}
